.sfondo {
  min-height: 100vh;
  background-image: url('/img/sfondo.png');
  background-size: cover; 
  background-position: center; 
  color: #212529;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}